.nav-tabs {
	display: flex;
	list-style: none;
	padding: 0;
}

.nav-tabs li {
	padding: 10px;
	cursor: pointer;
	background-color: #6267a1;
	border-radius: 6px;
	margin-right: 6px;
	padding: 5px 18px;
	transition: background-color 0.3s ease;
}

.nav-tabs li:hover {
	background-color: #7276aa;
}

.nav-tabs li.active {
	background-color: #434aa7;
}

.dash-content {
	align-self: center;
	text-align: center;
	margin: 20px 0;
}

.table-header {
	background-color: #333333;
}

.table-data {
	min-width: 3vw;
	padding: 3px 35px;
}
